<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TaskSync+</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>