<head>
    <!-- Set character set and viewport for better compatibility -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Set the title of the web page -->
    <title>TaskSync+</title>

    <!-- Link to the custom stylesheet (styles.css) for styling the web page -->
    <link href="styles.css" rel="stylesheet" type="text/css" />

    <!-- Link to Bootstrap 5 CSS framework hosted on CDN for responsive design and styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include Chart.js library from CDN for rendering charts/graphs on the web page -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
