<nav class="navbar navbar-expand-lg navbar-light neumorphic-navbar fixed-top">
    <div class="container-fluid">
        <a href="/"><img src="/images/logo.png" width="100" height="100"></a>
        <a class="navbar-brand" href="/">TaskSync+</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/task-manager">Task Manager</a>
                </li>
                <li class="nav-item borderRight">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item borderRight">
                    <a class="nav-link navbar-img" href="#">
                        <img src="/images/bell.png" alt="Notifications" width="40" height="40">
                    </a>
                </li>
                <li class="nav-item">
                    <!-- Profile container with dropdown menu -->
                    <div class="profile-container">
                        <a class="nav-link navbar-img" href="/profile">
                            <img src="/images/profile.png" alt="Profile" width="40" height="40">
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-content">
                            <a href="/profile">Profile</a>
                            <a href="#">Log Out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br><br><br><br><br>
