<!DOCTYPE html>
<html lang="en">
<!-- Include header -->
<%- include('layouts/header'); -%>

    <body>
        <!-- Include opaque navbar -->
        <%- include('layouts/navbar-opaque'); -%>

            <div class="container">
                <!-- Signup container with background -->
                <div id="neoBgn" class="p-4 signup-container">
                    <!-- Header for answer security question page -->
                    <h1>Answer Security Question</h1>

                    <!-- Display security question -->
                    <p>Security Question: <%= user.security %>
                    </p>

                    <!-- Form to submit the answer -->
                    <form action="/complete-password-recovery" method="post">
                        <!-- Input field for answer -->
                        <input class="neoInput" type="text" name="answer" placeholder="Enter your answer" required />
                        <br><br>

                        <!-- Display error message if present -->
                        <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
                            <p style="color: red;">
                                <%= errorMessage %>
                            </p>
                            <% } %>

                                <!-- Submit button -->
                                <button class="submitBtn blue-to-purple" type="submit">Submit Answer</button>
                    </form>
                </div>
            </div>
    </body>

</html>