<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar-opaque'); -%>
      <div class="container">
        <div id="neoBgn" class="p-4 signup-container">
          <h1>Edit Password</h1>

          <% if (editPassword) { %>
            <!-- Form to edit the password -->
            <form action="/update-password" method="post">
              <input type="hidden" name="username" value="<%= user.name %>" />
              <label for="newPassword">New Password:</label>
              <input class="neoInput" type="password" name="newPassword" required />
              <br><br>
              <button class="submitBtn blue-to-purple" type="submit">Update Password</button>
            </form>
            <% } else { %>
              <!-- Display a success message or redirect as needed -->
              <p>Password recovery for <%= user.name %> is complete!</p>
              <% } %>
        </div>
      </div>
  </body>

</html>