<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/navbar-opaque'); -%>
    <div class="container">
        <div id="neoBgn" class="p-4">
            <h1>Forgot Password</h1>
            <form action="/recover-password" method="post">
                <input class="neoInput" type="text" name="name" placeholder="Username" required />
                <button class="submitBtn blue-to-purple" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
