<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <!-- Include opaque navbar -->
        <%- include('layouts/navbar-opaque'); -%>

            <div class="container">
                <!-- Signup container with background -->
                <div id="neoBgn" class="p-4 signup-container">
                    <!-- Header for forgot password page -->
                    <h1>Forgot Password</h1>

                    <!-- Forgot password form -->
                    <form action="/recover-password" method="post">
                        <!-- Input field for username -->
                        <input class="neoInput" type="text" name="name" placeholder="Enter your username" required />

                        <!-- Display error message if present -->
                        <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
                            <p style="color: red;">
                                <%= errorMessage %>
                            </p>
                            <% } %>

                                <!-- Submit button -->
                                <button class="submitBtn blue-to-purple" type="submit">Submit</button>
                    </form>
                </div>
            </div>
    </body>

</html>