<!-- forgot-password.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/navbar-opaque'); -%>
    <div class="container">
        <div id="neoBgn" class="p-4">
            <h1>Forgot Password</h1>
            <!-- Add the following lines to your forgot-password.ejs form -->
            <form action="/recover-password" method="post">
                <input class="neoInput" type="text" name="name" placeholder="Enter your username" required />
                <br><br>
                <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
                    <p style="color: red;"><%= errorMessage %></p>
                <% } %>
                <button class="submitBtn blue-to-purple" type="submit">Submit</button>
            </form>
  
        </div>
    </div>
</body>
</html>
