<!DOCTYPE html>
<html>
    <html lang="en">
        <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <center><h1 class="heading">TaskSync+</h1></center>
                    <center> <h2>The Best Productivity System</h2></center>
                    <center><a href="/signup"><button class="round-button">Sign Up</button></a></center>
                    <br>
                </div>
            </div>
            
            <div class="neumorphic-divider"></div>

            <br>
            <div class="row">
                <div class="col-xxl-6">
                    <h3 class="body-headers">Save Time</h3>
                    <p class = "body-text">In today's fast-paced world, time is of the essence, and efficient task management has become a key factor in personal and professional success. A robust task management system is designed to streamline your workflow, helping you save valuable time and enhance productivity. By centralizing tasks, deadlines, and priorities in one accessible platform, users can easily organize their work, set priorities, and allocate time efficiently.</p>
                </div>
                <div class="col-xxl-6">
                    <img src="/images/save-time.png" alt="Feature Image" class="rounded height="400px" width="600px">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xxl-6">
                    <img src="/images/organize-your-day.png" alt="Feature Image" class="rounded" height="400px" width="600px">
                </div>
                <div class="col-xxl-6">
                    <h3 class="body-headers-right">Orangnize your day</h3>
                    <p class = "body-text-right">In today's fast-paced world, time is of the essence, and efficient task management has become a key factor in personal and professional success. A robust task management system is designed to streamline your workflow, helping you save valuable time and enhance productivity. By centralizing tasks, deadlines, and priorities in one accessible platform, users can easily organize their work, set priorities, and allocate time efficiently.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xxl-6">
                    <h3 class="body-headers">Recall everything</h3>
                    <p class = "body-text">In today's fast-paced world, time is of the essence, and efficient task management has become a key factor in personal and professional success. A robust task management system is designed to streamline your workflow, helping you save valuable time and enhance productivity. By centralizing tasks, deadlines, and priorities in one accessible platform, users can easily organize their work, set priorities, and allocate time efficiently.</p>
                </div>
                <div class="col-xxl-6">
                    <img src="/images/recall.png" alt="Feature Image" class="rounded height="400px" width="600px">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xxl-6">
                    <img src="/images/analytics.png" alt="Feature Image" class="rounded" height="400px" width="600px">
                </div>
                <div class="col-xxl-6">
                    <h3 class="body-headers-right">Analyse your data</h3>
                    <p class = "body-text-right">In today's fast-paced world, time is of the essence, and efficient task management has become a key factor in personal and professional success. A robust task management system is designed to streamline your workflow, helping you save valuable time and enhance productivity. By centralizing tasks, deadlines, and priorities in one accessible platform, users can easily organize their work, set priorities, and allocate time efficiently.</p>
                </div>
            </div>
            <div class="neumorphic-divider"></div>

       <center><h1 class = "heading">Get Started</h2></center>
      
            <section class="timeline">
                <ul>
                    <!-- 12 time li -->
                    <li>
                        <div>
                            <time>Step 1</time>
                            <div class="discovery">
                                <h1>Create an account</h1>
                            </div>
                        </div>
                    </li>
                    <li>
                     <div>
                         <time>Step 2</time>
                         <div class="discovery">
                             <h1>Create tasks</h1>
                         </div>
                         
                     </div>
                 </li>
                 <li>
                     <div>
                         <time>Step 3</time>
                         <div class="discovery">
                             <h1>Complete tasks</h1>
                         </div>
                         
                     </div>
                 </li>
                 <li>
                     <div>
                         <time>Step 4</time>
                         <div class="discovery">
                             <h1>Check analytics</h1>
                             
                         </div>
                         
                     </div>
                 </li>
                 <li>
                     <div>
                         <time>Step 5</time>
                         <div class="discovery">
                             <h1>Become more succesful </h1>
                             
                         </div>
                     </div>
                 </li>
                </ul>
            </section>
     
             <script src="main.js"></script>
             <script>
                var navbar = document.getElementById('navbar');
            
                window.addEventListener('scroll', function () {
                    if (window.scrollY > 100) {
                        navbar.classList.add('custom-navbar-scrolled');
                    } else {
                        navbar.classList.remove('custom-navbar-scrolled');
                    }
                });
            </script>
        </div>
        <%- include('layouts/footer'); -%>
  
    </body>
</html>


