<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/navbar-opaque'); -%>
    <div class="container">
        <div id="neoBgn" class="p-4">
            <h1>Login</h1>
            
            <form action="/login" method="post">
                <input class="neoInput" type="text" name="name" placeholder="Name" required />
                <input class="neoInput" type="password" name="password" placeholder="Password" required />
                <!-- Remove the popup and directly link to the forgot password page -->
                <div id="redirectLink">
                    <p><a href="/forgot-password">Forgot my password</a></p>
                </div>
                <% if (errorMessage) { %>
                    <p style="color: red;"><%= errorMessage %></p>
                <% } %>
                <button class="submitBtn blue-to-purple" type="submit">Log In</button>
            </form>
        </div>
    </div>
    <div style="height: 250px;"></div>
</body>
</html>
