<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/navbar-opaque'); -%>
    <div class="container">
        <div id="neoBgn" class="p-4">
          <h1> Login</h1>
            <form onsubmit="event.preventDefault()" id="formContainer">
                <input class="neoInput" type="email" placeholder="Email" required />
                <input class="neoInput" type="password" placeholder="Password" required />
                <div id="redirectLink">
                    <p><a href="/forgot-password">Forgot my password</a></p>
                </div>
                <button class="submitBtn blue-to-purple" type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>
