<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar-opaque'); -%>
      <div class="container">
        <div id="neoBgn" class="p-4 signup-container">
          <h1>Password Updated</h1>
          <p>Your password has been successfully updated!</p>
        </div>
      </div>
      </div>
  </body>

</html>