<!DOCTYPE html>
<html lang="en">
<!-- Include header -->
<%- include('layouts/header'); -%>

  <body>
    <!-- Include opaque navbar -->
    <%- include('layouts/navbar-opaque'); -%>

      <div class="container">
        <!-- Signup container with background -->
        <div id="neoBgn" class="p-4 signup-container">
          <!-- Header for password updated page -->
          <h1>Password Updated</h1>

          <!-- Success message for password update -->
          <p>Your password has been successfully updated!</p>
        </div>
      </div>
  </body>

</html>