<!DOCTYPE html>
<html>
    <html lang="en">
        <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/login-navbar'); -%>
        <div style="height: 1000px;">
            <!-- Your existing content goes here -->
        </div>

    </body>
    
</html>

