<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/navbar-opaque'); -%>
    <div class="container">
        <div id="neoBgn" class="p-4">
          <h1> Signup</h1>
            <form onsubmit="event.preventDefault()" id="formContainer">
                <input class="neoInput" type="email" placeholder="Email" required />
                <input class="neoInput" type="password" placeholder="Password" required />
                <input class="neoInput" type="text" placeholder="Security Question" required />
                <input class="neoInput" type="text" placeholder="Answer" required />
                <div id="redirectLink">
                    <p>Already have an account? <a href="/login">Log in</a></p>
                </div>
                <button class="submitBtn blue-to-purple" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div style="height: 100px;"> </div>

</body>
</html>
