<!DOCTYPE html>
<html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/login-navbar-opaque'); -%>
            <center>
                <button class="createNewTask blue-to-purple">Create New Task</button>
                <br><br>

                <button class="accordion accordion-headers" data-status="new">New Tasks</button>
                <div class="panel" id="new-panel">

                    <div class="task">
                        <div class="task-header">
                            <h3>Title 1</h3>
                            <p class="description">Description 1...</p>
                        </div>
                        <div class="task-actions">
                            <span class="delete">
                                <img src="images/delete.png" alt="Delete Icon" width="75" height="70"> Delete
                            </span>
                            <span class="edit">
                                <img src="images/edit.png" alt="Edit Icon" width="70" height="70"> Edit
                            </span>
                        </div>
                        <div class="dates">
                            <p>Start Date: MM/DD/YYYY</p>
                            <p>Due Date: MM/DD/YYYY</p>
                        </div>
                    </div>

                    <div class="task">
                        <div class="task-header">
                            <h3>Title 1</h3>
                            <p class="description">Description 1...</p>
                        </div>
                        <div class="task-actions">
                            <span class="delete">
                                <img src="images/delete.png" alt="Delete Icon" width="75" height="70"> Delete
                            </span>
                            <span class="edit">
                                <img src="images/edit.png" alt="Edit Icon" width="70" height="70"> Edit
                            </span>
                        </div>
                        <div class="dates">
                            <p>Start Date: MM/DD/YYYY</p>
                            <p>Due Date: MM/DD/YYYY</p>
                        </div>
                    </div>

                </div>

                <button class="accordion accordion-headers" data-status="in-progress">In Progress </button>
                <div class="panel" id="in-progress-panel">
                </div>

                <button class="accordion accordion-headers" data-status="rejected">Rejected</button>
                <div class="panel" id="rejected-panel">
                </div>

                <button class="accordion accordion-headers" data-status="completed">Completed</button>
                <div class="panel" id="completed-panel">
                </div>
            </center>
            <div style="height: 100px;"> </div>

            <%- include('layouts/footer'); -%>
                <script>
                    var acc = document.getElementsByClassName("accordion");
                    var i;

                    for (i = 0; i < acc.length; i++) {
                        acc[i].addEventListener("click", function () {
                            this.classList.toggle("active");
                            var panel = this.nextElementSibling;
                            if (panel.style.maxHeight) {
                                panel.style.maxHeight = null;
                            } else {
                                panel.style.maxHeight = panel.scrollHeight + "px";
                            }
                        });
                    }
                </script>

    </body>

</html>