<!DOCTYPE html>
<html>
    <html lang="en">
        <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/login-navbar-opaque'); -%>
        <div style="height: 1000px;"> </div>

        <%- include('layouts/footer'); -%>
        
    </body>
    
</html>

