@font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
        background: linear-gradient(54deg,rgba(208, 190, 253, 0.4) 30%, rgba(183, 248, 242, 0.3));
        color: #3c3f64;
        overflow-x: hidden;
}


/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.body-text-container {
    width: 60%;
}

.body-text {
    font-size: 18px;
    padding-top: 30px;
    text-align: left;
    color: #000000;
    margin-bottom: 10px;
    margin-top: -20px;
}

.body-text-right {
    font-size: 18px;
    padding-top: 30px;
    text-align: right;
    color: #000000;
    margin-bottom: 10px;
    margin-top: -20px;
}

/* Heading styles */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 10px;
}

.body-headers {
    font-size: 50px;
    padding-top: 30px;
    text-align: left;
    font-family: 'LEMONMILK', sans-serif;
    color: #333;
    margin-bottom: 5px;
}

.body-headers-center{
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
    font-family: 'LEMONMILK', sans-serif;
    color: #333;
    margin-bottom: 5px;
    
}

.body-headers-right {
    font-size: 50px;
    padding-top: 30px;
    text-align: right;
    font-family: 'LEMONMILK', sans-serif;
    color: #333;
    margin-bottom: 5px;
}


.heading {
    font-size: 80px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }

/* Paragraph styles */
p {
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Link styles */
a {
    color: #3399FF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1E62B9;
}

/* Button styles */
button {
    background-color: #8A4D76;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5C255C;
}

/* Neumorphic Navbar */
.neumorphic-navbar {
    background-color: rgb(208, 226, 237);
    box-shadow: 4px 13px 30px 1px rgba(91, 113, 179, 0.4);
    border-radius: 10px;
    height: 90px;
}

.neumorphic-navbar .navbar-brand,
.neumorphic-navbar .navbar-nav .nav-link {
    font-family: 'LEMONMILK', sans-serif;
    font-size: 20px;
    transition: #3399FF 0.3s ease;
}

.neumorphic-navbar .navbar-nav .nav-item {
    margin-right: 20px;
}

.neumorphic-navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.neumorphic-navbar .navbar-nav {
    margin-left: auto;
}

.navbar-toggler {
    margin-left: auto;
}

.round-button {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgb(208, 226, 237);
    color: #333; 
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.round-button:hover {
    background-color: #c0eaf8;
}

/* Container to limit the width of the divider */
.seperator-container {
    width: 75%;
    margin: auto;
}

/* Style for the line divider */
.seperator {
    border-radius: 30px;
    border: 4px solid #c0eaf8;
    margin-top: 10px;
}

.image-align-right {
    border-radius: 30px;
    padding-left: 20px;
    margin: 50px;
}

.div-right-align {
    margin-left: auto; 
    margin-right: 0;
}

#neoBgn {
    background-color: #c3e0ea;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px #30b8e5;
}

.neoInput {
    margin-top: 16px;
    outline: none;
    width: 100%;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    background: #f7f7f7;
    box-shadow: 4px 4px 6px #b2b2b2, -4px -4px 6px #ffffff;
}

.neoInput:focus {
    border: 1px solid #efdcdc;
    box-shadow: inset 4px 4px 6px #d7d7d7, inset -4px -4px 6px #f1f1f1;
}

#formContainer {
    max-width: 320px;
    margin: 20px auto;
}

.submitBtn {
    margin-top: 24px;
    border: none;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(180deg, #f67272, #cf6060);
    padding: 12px;
    color: #fff;
    box-shadow: 4px 4px 6px #b2b2b2, -4px -4px 6px #ffffff;
}

#checkBoxHolder {
    margin-top: 20px;
}

#agreeConditions {
    margin-right: 8px;
    vertical-align: middle;
}

.borderRight {
    border-right: 1px solid #000;
    padding-right: 20px; /* Adjust the value according to your preference */
}

.navbar-img {
    height: 50px; /* Adjust the value according to your preference */
    width: 50px;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
    margin-right: 5px; /* Optional: Adjust the margin to provide spacing between image and text */
    vertical-align: middle; /* Adjust the vertical alignment */
    display: flex;
    align-items: center;
}

/* Timeline Css */
body {
    font: normal 16px/1.5 ;
    font-family: LEMONMILK;
  }
  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 9.6px; /* 20% smaller */
  margin: 0 auto;
  padding-top: 80px; /* 20% smaller */
  background: rgba(183, 248, 242, 1);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 32px; /* 20% smaller */
  height: 32px; /* 20% smaller */
  z-index: 2;
  background: rgb(183, 224, 248);
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 640px; /* 20% smaller */
  padding: 32px; /* 20% smaller */
  background: #fff;
  box-shadow: 6.4px 20.8px 48px 1.6px rgba(208, 190, 253, 0.6); /* 20% smaller */

  border-radius: 8px; /* 20% smaller */
  display: flex;
  align-items: center;
}

.timeline ul li div time {
  position: absolute;
  background: rgba(208, 190, 253, 0.8);
  width: 128px; /* 20% smaller */
  height: 48px; /* 20% smaller */
  top: -24px; /* 20% smaller */
  border-radius: 8px; /* 20% smaller */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.2px; /* 20% smaller */
}

.timeline ul li div div {
  height: 160px; /* 20% smaller */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline ul li div div p {
  text-align: center;
}

.timeline ul li div .discovery {
  margin-right: 16px; /* 20% smaller */
}

.timeline ul li:nth-of-type(odd) > div {
  left: 72px; /* 20% smaller */
}

.timeline ul li:nth-of-type(even) > div {
  left: -702.4px; /* 20% smaller */
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(160px, -16px, 0) rotate(16deg); /* 20% smaller */
}

.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-160px, -16px, 0) rotate(16deg); /* 20% smaller */
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 400px; /* 20% smaller */
    flex-direction: column;
  }

  .timeline ul li div div {
    width: 128px; /* 20% smaller */
    margin: 16px; /* 20% smaller */
  }

  .timeline ul li:nth-of-type(even) > div {
    left: -462.4px; /* 20% smaller */
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #8bfff4;
  }

  .timeline ul li {
    margin-left: 32px; /* 20% smaller */
  }

  .timeline ul li div {
    width: calc(160vw - 91px); /* 20% smaller */
  }

  .timeline ul li:nth-of-type(even) > div {
    left: 72px; /* 20% smaller */
  }
}
